<!DOCTYPE html>
<html>
<head>
    <title>Carrito</title>
</head>
<body>
    <h1>Detalles del carrito:</h1>
    <p><strong>ID del carrito:</strong> {{cart._id}}</p>
    <p><strong>Fecha de creación:</strong> {{cart.timestamp}}</p>
    <p><strong>Productos:</strong></p>
    <ul>
        {{#each cart.products}}
            <li>id: {{id}}</li>
            <li>title: {{title}}</li>
            <li>description: {{description}}</li>
            <li>price: {{price}}</li>
            <li>thumbnail: {{thumbnail}}</li>
        {{/each}}
    </ul>
</body>
</html>