<div class="navbar">
  <form action="/premium" method="post">
    <input type="hidden" name="email" value="{{email}}">
    
    <button class="BtnPremium"> <svg viewBox="0 0 576 512" height="1em" class="logoIcon">
        <path
          d="M309 106c11.4-7 19-19.7 19-34c0-22.1-17.9-40-40-40s-40 17.9-40 40c0 14.4 7.6 27 19 34L209.7 220.6c-9.1 18.2-32.7 23.4-48.6 10.7L72 160c5-6.7 8-15 8-24c0-22.1-17.9-40-40-40S0 113.9 0 136s17.9 40 40 40c.2 0 .5 0 .7 0L86.4 427.4c5.5 30.4 32 52.6 63 52.6H426.6c30.9 0 57.4-22.1 63-52.6L535.3 176c.2 0 .5 0 .7 0c22.1 0 40-17.9 40-40s-17.9-40-40-40s-40 17.9-40 40c0 9 3 17.3 8 24l-89.1 71.3c-15.9 12.7-39.5 7.5-48.6-10.7L309 106z">
        </path>
      </svg> Pasar a premium</button>
  </form>
  <p class="titulo">BOUVERI</p>
   <div class="btnSubir">
  <a href="/products/upload">
    <button class="btn"> Subir producto</button> 
  </a>
 
  <div class="iconoCarrito">
    <a href="/carts/{{email}}">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="28" height="28"
        viewBox="0 0 24 24" stroke-width="2" stroke="#BD9391" fill="none" stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
        <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
        <path d="M17 17h-11v-14h-2"></path>
        <path d="M6 5l14 1l-1 7h-13"></path>
      </svg>
    </a>
  </div>
  </div>
</div>

<div>
  {{#if message}}
  <p class="mensajeNavbar">{{message}}</p>
  {{/if}}
</div>

<h1 class="productoTitulo">PRODUCTOS</h1>
{{#if products}}
<div class="itemsTarjeta">
  {{#each products}}
  <div class="tarjetaProduc">
    {{!-- <h1>id:{{id}}</h1> --}}
    <img class="imagenProduc" src="{{this.thumbnail}}" alt="Imagen del producto">
    <p class="titleTarjeta">{{this.title}}</p>
    <div class="ParrafoTarjeta">
      <p>Description:{{this.description}}</p>
      <p>$: {{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
    </div>
    <form action="/db/mongo/carts/{{../email}}" method="POST">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="hidden" name="title" value="{{this.title}}">
      <input type="hidden" name="description" value="{{this.description}}">
      <input type="hidden" name="price" value="{{this.price}}">
      <input type="hidden" name="thumbnail" value="{{this.thumbnail}}">
      <input type="hidden" name="email" value="{{../email}}">
      <input type="hidden" name="stock" value="{{this.stock}}">
      <button type="submit" class="boton">Agregar al carrito</button>
    </form>
  </div>
  {{/each}}
</div>
<div>
  {{#if totalPages}}
  <div>
    {{#if prevLink}}
    <button class="botonAnterior" onclick="window.location.href='{{prevLink}}'">Anterior</button>
    {{/if}}
    {{#if hasNextPage}}
    <button class="botonSiguiente" onclick="window.location.href='{{nextLink}}'">Siguiente</button>
    {{/if}}
  </div>
  {{/if}}
</div>

{{else}}
<p>No hay productos disponibles.</p>
{{/if}}
<footer>
  <form action="/logout" method="POST">
    <button class="botonCerrarSesion" type="submit" class="boton">Cerrar sesión</button>
  </form>
</footer>